@page "/sample"
@using SampleBlazorApp.Data

<h1>Sample</h1>

<p class="h3">@message</p>

<EditForm Model="@mydata" OnValidSubmit="@doAction">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        Name
        <InputText id="name" @bind-Value="@mydata.Name"
                   class="form-control" />
    </div>
    <div class="form-group">
        Password
        <InputText type="password" id="password"
                   @bind-Value="@mydata.Password"
                   class="form-control" />
    </div>
    <div class="form-group">
        Mail
        <InputText id="mail" @bind-Value="@mydata.Mail"
                   class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
        Click
    </button>
</EditForm>

@code {
    private Mydata mydata = new Mydata("", "", "");
    private string message = "Please input form:";

    private void doAction()
    {
        message = mydata.ToString();
    }
}
